<a href="https://colab.research.google.com/github/pujaroy280/DATA602Assignment7/blob/main/Puja_Roy_07_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 7**

# **Weeks 8 & 9 - Pandas**
* In this homework assignment, you will explore and analyze a public dataset of your choosing. Since this assignment is “open-ended” in nature, you are free to expand upon the requirements below. However, you must meet the minimum requirments as indicated in each section.

* You must use Pandas as the **primary tool** to process your data.

* The preferred method for this analysis is in a .ipynb file. Feel free to use whichever platform of your choosing.  
 * https://www.youtube.com/watch?v=inN8seMm7UI (Getting started with Colab).

* Your data should need some "work", or be considered "dirty".  You must show your skills in data cleaning/wrangling.

### **Some data examples:**
•	https://www.data.gov/

•	https://opendata.cityofnewyork.us/

•	https://datasetsearch.research.google.com/

•	https://archive.ics.uci.edu/ml/index.php

### **Resources:**

•	https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html

•	https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html


### **Headings or comments**
**You are required to make use of comments, or headings for each section.  You must explain what your code is doing, and the results of running your code.**  Act as if you were giving this assignment to your manager - you must include clear and descriptive information for each section.

### **You may work as a group or indivdually on this assignment.**

# Introduction

In this section, please describe the dataset you are using.  Include a link to the source of this data.  You should also provide some explanation on why you choose this dataset.

For this assignment, I am planning to leverage the New York Times Best Sellers Dataset from Kaggle: https://www.kaggle.com/datasets/dhruvildave/new-york-times-best-sellers

**Description of Data:** All New York Times Best Sellers List from 2010 to 2019 (10 years)

**Dataset updated:**
Dec 11, 2020

This dataset is interesting because I love reading books that are based in New York. As a New York resident, I enjoy watching shows and reading books based on NY's setting. I want to analyze this dataset to observe which books from New York were top-ranked, the price of books, the weeks that the books were on the list for the best selling, and if the dataset contains the books that I am planning to read over the summer.

______________
# Data Exploration
Import your dataset into your .ipynb, create dataframes, and explore your data.  

Include:

* Summary statistics means, medians, quartiles,
* Missing value information
* Any other relevant information about the dataset.

In [ ]:
import pandas as pd

# URL of the CSV file
# Fetch raw data from my GitHub profile
url = "https://raw.githubusercontent.com/pujaroy280/DATA602Assignment7/main/bestsellers.csv"

# Load the data into a DataFrame
df = pd.read_csv(url)

In [ ]:
# Display the first few rows of the DataFrame
print(df.head())

  published_date      list_name list_name_encoded  rank         isbn13  \
0     2010-01-03  Chapter Books     chapter-books     1  9780316036245
1     2010-01-03  Chapter Books     chapter-books     2  9780439023481
2     2010-01-03  Chapter Books     chapter-books     3  9780439023498
3     2010-01-03  Chapter Books     chapter-books     4  9780763644109
4     2010-01-03  Chapter Books     chapter-books     5  9780385738934

       isbn10                    title  \
0  0316036242         WITCH AND WIZARD
1  0439023483         THE HUNGER GAMES
2  0439023491            CATCHING FIRE
3  0763644102  THE MAGICIAN’S ELEPHANT
4  0385738935                   FALLEN

                                     author  \
0  James Patterson and Gabrielle Charbonnet
1                           Suzanne Collins
2                           Suzanne Collins
3                            Kate DiCamillo
4                               Lauren Kate

                                         description  \
0  One of each, brother and sister, flex their ne...
1  In a dystopian future, a girl fights for survi...
2     The protagonist of "The Hunger Games" returns.
3  An orphan in search of his sister follows a fo...
4  Thwarted love among misfits at a Savannah, Ga....

                                  amazon_product_url  price  weeks_on_list
0  https://www.amazon.com/Witch-Wizard-James-Patt...  17.99              1
1  https://www.amazon.com/The-Hunger-Games-Suzann...  17.99             67
2  https://www.amazon.com/Catching-Fire-Hunger-Ga...  17.99             16
3  https://www.amazon.com/The-Magicians-Elephant-...  16.99             15
4  https://www.amazon.com/Fallen-Lauren-Kate/dp/0...  17.99              2

In [ ]:
# Display columns
print(df.columns)

Index(['published_date', 'list_name', 'list_name_encoded', 'rank', 'isbn13',
       'isbn10', 'title', 'author', 'description', 'amazon_product_url',
       'price', 'weeks_on_list'],
      dtype='object')

In [ ]:
# Display summary statistics
print(df.describe())

               rank         price  weeks_on_list
count  61430.000000  61430.000000   61430.000000
mean       3.000000      3.863068      24.706267
std        1.414225      8.789769      63.534314
min        1.000000      0.000000       0.000000
25%        2.000000      0.000000       0.000000
50%        3.000000      0.000000       2.000000
75%        4.000000      0.000000      16.000000
max        5.000000    150.000000     607.000000

In [ ]:
# 2. Missing value information
missing_values = df.isnull().sum()
print("\nMissing Value Information:")
print(missing_values)

Missing Value Information:
published_date           0
list_name                0
list_name_encoded        0
rank                     0
isbn13                   4
isbn10                1284
title                    0
author                  69
description           8119
amazon_product_url       0
price                    0
weeks_on_list            0
dtype: int64

In [ ]:
# 3. Other relevant information
print("\nNumber of unique authors:", df['author'].nunique())
print("Number of unique titles:", df['title'].nunique())
print("Number of unique list names:", df['list_name'].nunique())

Number of unique authors: 3609
Number of unique titles: 6577
Number of unique list names: 59

# Data Wrangling
Create a subset of your original data and perform the following.  

1. Modify multiple column names.

2. Look at the structure of your data – are any variables improperly coded? Such as strings or characters? Convert to correct structure if needed.

3. Fix missing and invalid values in data.

4. Create new columns based on existing columns or calculations.

5. Drop column(s) from your dataset.

6. Drop a row(s) from your dataset.

7. Sort your data based on multiple variables.

8. Filter your data based on some condition.

9. Convert all the string values to upper or lower cases in one column.

10. Check whether numeric values are present in a given column of your dataframe.

11. Group your dataset by one column, and get the mean, min, and max values by group.
  * Groupby()
  * agg() or .apply()

12. Group your dataset by two columns and then sort the aggregated results within the groups.

**You are free (and should) to add on to these questions.  Please clearly indicate in your assignment your answers to these questions.**

# Conclusions  

After exploring your dataset, provide a short summary of what you noticed from this dataset.  What would you explore further with more time?